<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="static/CSS/screenSnaps.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;1,700&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScreenShots</title>
</head>

<body>
    <nav>
        <ul class="topnav" id="dropdownClick">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="aboutProject.html">About Project</a>
            </li>
            <li>
                <a href="screenSnaps.html">Screen Snaps</a>
            </li>

            <li class="topnav-right">
                <a href="login.html">Login</a>
            </li>
            <li class="topnav-right">
                <a href="about.html">About Us</a>
            </li>
            <li class="dropdownIcon">
                <a href="javascript:void(0);" onclick="dropdownMenu()">&#9776;</a>
            </li>
        </ul>
    </nav>
    <div class="container" id="section-1-gradient">
        <div class="row">
            <div class="col-9 leftSide-col">
                <div class="header">
                    <h1 class="large">Snaps</h1>
                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-6 row1">
                <img class="myImg" id="myImg" src="static/1.png" alt="Dataset Overview">
            </div>
            <div class="col-6 row2">
                <img class="myImg" id="myImg2" src="static/2.png" alt="Inertia vs Clusters">
            </div>
            <div class="col-6 row3">
                <img class="myImg" id="myImg3" src="static/3.png" alt="Indians vs Foreigners" height="500" width="500">
            </div>
            <div class="col-6 row3">
                <img class="myImg" id="myImg4" src="static/4.png" alt="Indian Males vs Foreigners Males" height="500"
                    width="500">
            </div>
            <div class="col-6 row3">
                <img class="myImg" id="myImg5" src="static/5.png" alt="Indian Females vs Foreigners Females"
                    height="500" width="500">
            </div>
            <div class="col-6 row3">
                <img class="myImg" id="myImg6" src="static/6.png" alt="Others vs Indians" height="500" width="500">
            </div>
        </div>
        <br><br><br>
    </div>
    <hr class="hr1">

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>

    <div class="med">
        <br>

        <footer class="footsy">
            <div class="row">
                <div class="col-9 mobileStatck">
                    <h2>Thanks</h2>
                    <ul>
                        <a href="aboutProject.html " class="lastA">
                            <li>About Project</li>
                        </a>
                        <a href="screenSnaps.html" class="lastA">
                            <li>ScreenSnaps</li>
                        </a>
                        <a href="about.html" class="lastA">
                            <li>About us</li>
                        </a>
                    </ul>
                </div>
                <div class="col-3 mobileStatck2">
                    <h3>@Copyright Protected 2020-21</h3>
                </div>
            </div>
        </footer>
    </div>





    <script>
        function dropdownMenu() {
            var x = document.getElementById("dropdownClick");
            if (x.className === "topnav") {
                x.className += " responsive";
                //    change topnav to topnav.responsive
            } else {
                x.className = "topnav";
            }
        }
        // for img -01
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
        // for img -02
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg2");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // for img -03
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg3");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // for img -04
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg4");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // for img -05
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg5");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
        // for img -06
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg6");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

    </script>
</body>

</html>