<table name="my_table" class="red_table" style="border:2px solid black">
    <thead>
        <tr>
            <th></th>
            <th>Indians</th>
            <th>Foreigners</th>
            <th>Indians male</th>
            <th>Indian Females</th>
            <th>Foreigners Male</th>
            <th>Foreigners Females</th>
            <th>Others</th>
            <th>Predicted Output<br></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>46515</td>
            <td>15</td>
            <td>515</td>
            <td>415</td>
            <td>515</td>
            <td>151</td>
            <td>5</td>
            <td>2<br></td>
        </tr>
    </tbody>
</table>